.shortCutChangeBox {
  width: 80%;
  min-width: 30rem;
  height: 80%;
  min-height: 30rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  padding: 2.5rem;
  backdrop-filter: blur(5px);
  transition: transform 0.25s ease-in-out;
  transform-origin: center 4rem;
  z-index: 999;
  display: none;
}

.shortCutChangeBox_gridContainer {
  --row: 1;
  --column: 2;
  --size: 5rem;
}

/* 小屏适应 */
@media only screen and (max-width: 900px) {
  .shortCutChangeBox_gridContainer {
    --row: 4;
    --column: 1;
    --size: 3rem;
  }
}

.shortCutChangeBox_gridContainer {
  width: 100%;
  height: 80%;
  max-height: 30rem;
  display: grid;
  grid-template-rows: repeat(var(--row), 1fr);
  grid-template-columns: repeat(var(--column), 1fr);
}

.shortCutChangeBox_main {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.shortCutChangeBox_more {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.shortCutChangeBox input[type='text'] {
  width: 70%;
  height: 2.5rem;
  margin: 1rem;
  padding: 0 0.5rem;
  border: none;
  background: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.25rem;
  font-weight: 600;
}

.shortCutChangeBox button {
  width: auto;
  height: 2.5rem;
  border: none;
  padding: 0 1rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.shortCutChangeBox button[type='button']:enabled:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.shortCutChangeBox button[type='button']:enabled:active,
.shortCutChangeBox button[type='submit']:active {
  
  transform: scale(0.9);
}

.shortCutChangeBox button[type='submit'] {
  background-color: rgba(0, 68, 255, 0.738);
  color: white;
}

.shortCutChangeBox button[type='submit']:hover {
  background-color: rgba(0, 68, 255, 0.9);
}

.shortCutChangeBox_imgInfo {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.15s ease;
}

.shortCutChangeBox_imgInfo.show {
  height: auto;
  grid-template-rows: 1fr;
}

div.shortCutChangeBox_imgInfo.show > div {
  padding-bottom: 6rem;
}

.shortCutChangeBox_imgInfo > div {
  overflow: hidden;
  position: relative;
}

.imgCover_1x1,
.imgCover_1x2,
.imgCover_2x1 {
  margin: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  overflow: hidden;
}

.imgCover_1x1 > img {
  width: var(--size);
  height: var(--size);
}

.imgCover_1x1 > img.error {
  transform: scale(0.5);
}

.imgCover_1x2 > img.error {
  width: var(--size);
  height: var(--size);
  position: relative;
  left: 50%;
  transform: translate(-50%) scale(0.5);
}

.imgCover_2x1 > img.error {
  width: var(--size);
  height: var(--size);
  position: relative;
  top: 50%;
  transform: translate(0, -50%) scale(0.5);
}

.imgCover_1x2 > img.success,
.imgCover_2x1 > img.success {
  width: calc(var(--size) * 2 + 1rem);
}

.imgCover_1x1 {
  width: var(--size);
  height: var(--size);
}

.imgCover_1x2 {
  width: calc(var(--size) * 2 + 1rem);
  height: var(--size);
}

.imgCover_2x1 {
  width: var(--size);
  height: calc(var(--size) * 2 + 1rem);
}

.x::before,
.y::before,
.zoom::before {
  content: attr(data-name);
  display: block;
  width: 4rem;
  position: absolute;
  transform: translateX(-50px);
  font-weight: 600;
}

.x,
.y,
.zoom {
  background-color: rgba(255, 255, 255, 0.6);
  width: 0.5rem;
  height: 10rem;
  position: absolute;
  border-radius: 0.5rem;
}

.x div,
.y div,
.zoom div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 68, 255, 0.9);
  cursor: pointer;
  position: relative;
  transform: translate(calc((0.5rem - 100%) / 2), calc((10rem - 100%) / 2));
}

.x div:hover,
.y div:hover,
.zoom div:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.x::before {
  transform: translateY(-30px);
}

.x {
  width: 10rem;
  height: 0.5rem;
}

.x div {
  transform: translate(calc((10rem - 100%) / 2), calc((0.5rem - 100%) / 2));
}

.x div:active::after,
.y div:active::after,
.zoom div:active::after {
  width: 4rem;
  height: 2rem;
  content: attr(data-scale);
  position: absolute;
  top: -30%;
  left: -300%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 2rem;
}

.x div:active::after {
  top: -160%;
  left: -80%;
}

#img_1x1_zoom {
  top: 5%;
  left: 40%;
}

#img_1x2_x,
#img_2x1_x {
  bottom: 20%;
  left: 5%;
}

#img_1x2_y,
#img_2x1_y {
  top: 8%;
  left: 50%;
}

#img_1x2_zoom,
#img_2x1_zoom {
  top: 8%;
  left: 70%;
}

.shortCutChangeBox_more {
  max-height: 30rem;
  overflow: scroll;
}

.shortCutChangeBox_more::-webkit-scrollbar {
  display: none;
}

.shortCutChangeBox_button {
  width: 60%;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
}

.shortCutChangeBox_button button {
  margin: auto;
}
