@import "@/assets/css/animation.css";

@import "@/assets/css/background/index.css";
@import "@/assets/css/search/index.css";
@import "@/assets/css/shortcut/index.css";

@import "@/assets/css/message/index.css";
@import "@/assets/css/setting/index.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
}

:root {
  --form-width: 10rem;
  --form-add-size: 1rem;
  --size: 3.5rem;
}

@media only screen and (min-width: 360px) {
  :root {
    --form-width: 16rem;
    --form-add-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --form-width: 20rem;
    --form-add-size: 3rem;
  }
}
@media only screen and (min-width: 960px) {
  :root {
    --form-width: 26rem;
    --form-add-size: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --size: 4rem;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --size: 4.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  :root {}
}


