@keyframes associationContainerAppear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  75%,
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 6rem) scale(1);
    -webkit-transform: translate(-50%, 6rem) scale(1);
    -moz-transform: translate(-50%, 6rem) scale(1);
    -ms-transform: translate(-50%, 6rem) scale(1);
    -o-transform: translate(-50%, 6rem) scale(1);
  }
}

@keyframes associationContainerHidden {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 6rem) scale(1);
    -webkit-transform: translate(-50%, 6rem) scale(1);
    -moz-transform: translate(-50%, 6rem) scale(1);
    -ms-transform: translate(-50%, 6rem) scale(1);
    -o-transform: translate(-50%, 6rem) scale(1);
  }
  75%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

#associationContainer {
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  animation: associationContainerHidden 0.25s forwards;
  -webkit-animation: associationContainerHidden 0.25s forwards;
  transform: translate(-50%, 0);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

#associationContainer:empty {
  display: none;
}

#associationContainer.search-focus {
  animation: associationContainerAppear 0.25s forwards;
  -webkit-animation: associationContainerAppear 0.25s forwards;
}

#associationContainer ul {
  width: calc(var(--form-width) + var(--form-add-size));
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}

#associationContainer li {
  padding: 0.25rem 1rem;
  max-width: 60vw;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  transition: background-color font-weight 0.25s;
  -webkit-transition: background-color font-weight 0.25s;
  -moz-transition: background-color font-weight 0.25s;
  -ms-transition: background-color font-weight 0.25s;
  -o-transition: background-color font-weight 0.25s;
}

#associationContainer li.active,
#associationContainer li:hover {
  cursor: pointer;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.75);
}

#associationContainer li span {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.15rem;
}

#associationContainer li img {
  padding: 0.25rem 0.5rem;
  width: 2.5rem;
  object-fit: cover;
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

#associationContainer li img:hover {
  background-color: rgba(148, 148, 148, 0.75);
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  #associationContainer {
    top: 20%;
  }

  #associationContainer li {
    padding: 0.25rem 0.5rem;
  }
}
