#searchForm {
  --size: 3rem;
  --height: 2.5rem;
  --font-size: 1.2rem;
  --padding-y: 0.25rem;
}

@media screen and (max-width: 960px) {
  #searchForm {
    --height: 1.25rem;
    --font-size: 1.15rem;
  }
}

@media screen and (max-width: 768px) {
  #searchForm {
    --height: 1rem;
    --font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  #searchForm {
    --height: 1rem;
    --font-size: 1rem;
    --padding-y: 0.05rem;
  }
}

#searchForm {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: var(--height);
  padding: var(--padding-y) 0.5rem;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--size);
  -webkit-border-radius: var(--size);
  -moz-border-radius: var(--size);
  -ms-border-radius: var(--size);
  -o-border-radius: var(--size);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

#searchForm input#search {
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size);
  font-weight: bolder;
  color: #000;
  background-color: transparent;
  width: var(--form-width);
  height: var(--height);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

#searchForm input#search:focus {
  width: calc(var(--form-width) + var(--form-add-size));
}

#searchForm button {
  background-color: transparent;
  border: none;
  width: calc(var(--size) * 0.5);
  height: var(--size);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}

#searchForm button[type="button"] {
  display: none;
}

#searchForm button[type="button"] img {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

#searchForm button[type="button"].search-clear-btn-show {
  display: initial;
}

#searchForm button img {
  width: 100%;
  object-fit: cover;
}

#searchForm button:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
