#searchUrlBtn {
  display: none;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  gap: 0.5rem;
  left: 0;
  top: 0%;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-125%, 0%);
  -webkit-transform: translate(-125%, 0%);
  -moz-transform: translate(-125%, 0%);
  -ms-transform: translate(-125%, 0%);
  -o-transform: translate(-125%, 0%);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

#searchUrlBtn.search-focus {
  display: flex;
}

.searchUrlBtn-item {
  display: none;
  width: calc(var(--size) * 0.7);
  height: calc(var(--size) * 0.7);
  background-color: white;
  overflow: hidden;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.searchUrlBtn-item:first-child {
  display: block;
  animation: fadeIn 0.25s;
  -webkit-animation: fadeIn 0.25s;
}

#searchUrlBtn.search-focus:hover .searchUrlBtn-item {
  display: block;
}

.searchUrlBtn-item img {
  width: 100%;
  pointer-events: none;
  object-fit: cover;
}
