#messageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-end;
  min-width: 300px;
  width: 30vw;
  height: 80vh;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(20%, 80%) scale(0.8, 0.2);
    -webkit-transform: translate(20%, 80%) scale(0.8, 0.2);
    -moz-transform: translate(20%, 80%) scale(0.8, 0.2);
    -ms-transform: translate(20%, 80%) scale(0.8, 0.2);
    -o-transform: translate(20%, 80%) scale(0.8, 0.2);
}
  100% {
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translate(20%, -80%) scale(0.8, 0.2);
    -webkit-transform: translate(20%, -80%) scale(0.8, 0.2);
    -moz-transform: translate(20%, -80%) scale(0.8, 0.2);
    -ms-transform: translate(20%, -80%) scale(0.8, 0.2);
    -o-transform: translate(20%, -80%) scale(0.8, 0.2);
}
}

#messageContainer > div {
  width: fit-content;
  padding: 0.25rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  color: white;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  animation: fade-in 0.25s ease-out;
  -webkit-animation: fade-in 0.25s ease-out;
}

#messageContainer > div img {
  object-fit: cover;
  margin: auto;
  height: 1.5rem;
}

#messageContainer > div.fade-out {
  animation: fade-out 0.25s ease-out;
  -webkit-animation: fade-out 0.25s ease-out;
}

#messageContainer > div[data-type="tip"] {
  background-color: rgb(21, 200, 255);
}

#messageContainer > div[data-type="warning"] {
  background-color: rgb(255, 21, 21);
}

#messageContainer > div[data-type="success"] {
  background-color: rgb(21, 255, 21);
}
